:host {
  display: block;
}
button {
  cursor: pointer;
}
button.modal-open {
  background-color: #37a1f4;
  color: white;
  font-size: 16px;
  border: 0;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 11px #e2e2e2;
  transition: all .2s ease-in-out;
}
button.modal-open:active,
button.modal-open:hover,
button.modal-open:focus{
  border: dotted #8367f1 1px;
  box-shadow: 3px 3px 11px #8367f1;
  outline: 0;
}

.back-drop,
.modal-wrapper {
  transition: all .2s ease-in-out;
}

.modal-inactive .back-drop,
.modal-inactive .modal-wrapper {
  display: none;
}

.modal-active .back-drop {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #7f7f7fba;
  z-index: 1;
}
.modal-active .modal-wrapper {
  display: block;
  position: relative;
  margin: 150px auto;
  height: auto;
  min-height: 400px;
  border: solid 2px gray;
  width: 625px;
  z-index: 2;
  background: #ffffff;
}

button.modal-close {
  background-color: #e45353;
  color: white;
  padding: 6px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  outline: 0;
}
button.modal-close:focus,
button.modal-close:hover,
button.modal-close:active{
  box-shadow: 2px 2px 8px #7a3c3c;
}
.modal-wrapper-body {
  display: grid;
  grid-template-rows: 15% auto 15%;
  min-height: inherit;
  padding: 16px;
}

.modal-header,
.modal-body {
  border-bottom: 2px solid #bfbfef;
}
